<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <!-- ACCEPT -->
        <style>
        #kiosk-container{
            background: rgba(0, 0, 0, 0.35);
            position: fixed;
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            z-index: 99;
            color: #ffffff;
        }
        #kiosk-container .inner-page div{display: none;}
        #kiosk-container svg{ display:block; height:auto; width:250px; max-width:90%; margin:0 auto; background: #ffffff; border-radius: 50%;}
        #kiosk-container .inner-page{
            background: rgba(0, 0, 0, 0.85);
            height: 100%;
            width: 100%;
            text-align: center;
            position: fixed;
            top: 0; left: 0;
            z-index: 999;
            overflow: auto;
        }
        #kiosk-container #kiosk-powered-by{display: block;padding-right: 1rem;text-align: right;margin-top: 4rem;}
        #kiosk-container #kiosk-powered-by small{display: block;}
        #kiosk-container #kiosk-powered-by img{width: 175px;}
        </style>
        <div id="kiosk-container">
            <div class="inner-page">
                <div id="kiosk-errors">
                    <svg style="fill:#e91e63;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg>
                    <br>
                    <span class="errors">UKNOWN ERROR</span>
                </div>
                <div id="kiosk-id-container">
                    <svg style="fill:#4caf50;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <path d="M0 0h24v24H0z" fill="none"/> <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/> </svg>
                    <br>
                    <h2>Your aman bill reference is</h2>
                    <h1 id="kiosk-id">FAILED TO OBTAIN BILL ID</h1>
                    <h3>Please go to the nearest Aman oulet, ask for "Madfouaat Motanouea Accept" and provide your bill reference.</h3>
                </div>
                <div id="kiosk-powered-by">
                    <small>Powered by</small>
                    <a href="//weaccept.co" target="_blank">
                        <img src="https://accept.paymobsolutions.com/static/base/img/accept_blue.png" />
                    </a>
                </div>
            </div>
        </div>
        <!-- /ACCEPT -->

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" 
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Next')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Next'"></span>
                </button>                
            </div>
        </div>

    </div>
</div>